#tool{
    -fx-border-width: 0;
    -fx-border-color: #ececec;
    -fx-background-color: white;
}

#tool_face,#tool_face:pressed{
    -fx-background-size: 38px 38px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/chat/img/face_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#tool_face:hover{
    -fx-background-image: url("/fxml/chat/img/face_1.png");
}
